[Desktop Entry]
Encoding=UTF-8
Name=Link to 20_08_19_Sebastian Suarez Benjumea - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1iAE2DWQ9sWLR-hOkyHsacx6Xm2zpmG8rt4aB-CkJvJg/edit#slide=id.g82337bd87d_0_0
Icon=text-html
