[Desktop Entry]
Encoding=UTF-8
Name=Link to Coordinando Pipelines de Datos en AWS.pdf - Google Drive
Type=Link
URL=https://drive.google.com/file/d/1Yx_Lcugp3M8TEni5tOyHcTVgiG83Nb4q/view
Icon=text-html
