[Desktop Entry]
Encoding=UTF-8
Name=Link to Elkin Dario - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/14sShksg7v7iAuGjhPDSAuMWH5h4tuo4mKn9EqNIOFkg/edit#slide=id.g82337bd87d_0_0
Icon=text-html
