[Desktop Entry]
Encoding=UTF-8
Name=Link to 20_08_12_Juan Camilo Estevez - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/1LnTfGJVHpB9mhqLvgMHbsrkyv-36hWfg6m4K6QxsekM/edit#slide=id.g82337bd87d_0_0
Icon=text-html
